 /* Global Styles */
 body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    background-color: rgb(215, 237, 245);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}
.btn-last{
    margin: 0 0 0 3rem;
}

.btn-book-now {
    transition: background-color 0.3s ease-in-out;
}

.btn-book-now:hover {
    background-color: #ff5722;
}

.bg-image{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}
.container-first{
    color: white!important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.first-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0 8%;
    align-items: center;
}

.about-section{
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-gap{
    margin: 3rem;
    display: grid;
    grid-gap: 0 10rem;
    grid-template: 1fr/ 1fr 1fr;
}
.card-about{
    justify-self: center;
}

.card-img-top{
    object-fit: contain;
    margin: 1em 0;
    border-radius: 1em;
}

.card-text{
    opacity: 0.7;
}

/* Gallery Section */
.carousel{
    height: 30%!important;
    width: 60%!important;
}
.flower-image{
    height: 90vh!important;
}

hr{
    border: 0;
    margin: 1rem;
    height: 0;
}
.last-container{
    display: grid;
    justify-content: center;
}
.Customers{
    margin: 2rem;
    border: 2px solid grey;
    border-radius: 1rem;
    margin: 0 2rem 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Map Styling */
.map-iframe {
    width: 100%;
    height: 350px;
    border: 2rem solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.map-iframe:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 1.5rem 0;
    text-align: center;
}